@media (max-width: 992px) { 
	.jumbotron{
		background-image: none;
		background-color: #4A2B73;
		height: 600px;
	}
	.display-6{
		color: white;
		font-weight: bold;
		padding-top: 280px;
	}
	.img-content{
		width: 700px;
	}
	.lead{
		color: white;
	}
	.content-quetion{
        height: 700px; background-color: #1B0723;
    }
    .video-dakwah{
        width: 700px;
        height: 409px;
        border-radius: 5px;
       }

    .project-img{
    	width: 700px;
    	border-radius: 5px;
    }
     .project-title{
     	text-align: center;
        padding-top: 100px;
        margin-bottom: 70px;

    }
    .card-project{
       margin-left: -15px;
    }
}
@media (max-width: 768px) {
	.img-content{
		margin-left: -50px;
		width: 600px;
	}
	.video-dakwah{
		width: 600px;
	}
	.project-img{
		width: 600px;
	}
}
@media (max-width: 698px) {

	.video-dakwah{
		width: 500px;
	}
	.project-img{
		width: 500px;
	}
}
@media (max-width: 576px) {
	.jumbotron{
		background-image: none;
		background-color: #4A2B73;
		height: 700px;
	}
	.display-6{
		
		padding-top: 280px;
	}
	
	.img-content{
		margin-left: 0;
		width: 325px;
	}
	.content-quetion{
        height: 800px;
    }
    .video-dakwah{
    	margin-top: 20px;
    	width: 325px;
    	border-radius: 5px;
    }
    .project-img{
    	width: 325px;
    	border-radius: 5px;
    }
    .project-title{
        padding-top: 50px;
        margin-bottom: 70px;
        margin-left: 5px;
    }
    .card-project{
       margin-left: -10px;
    }
}
